* {
  margin: 0;
  padding: 0;
}

body {
  margin-bottom: 50px;
}

figure {
  margin-left: 10px;
  margin-top: 50px;
}

/* ---------------------------- */
.squares {
  font-size: 10px;
  width: 15em;
  height: 15em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.squares div {
  position: absolute;
  box-sizing: border-box;
  border: 1em solid dimgray;
}

.squares div:nth-child(1) {
  width: 100%;
  height: 100%;
}

.squares div:nth-child(2) {
  width: 70%;
  height: 70%;
}

.squares div:nth-child(3) {
  width: 40%;
  height: 40%;
}

.squares div::before,
.squares div::after {
  content: '';
  position: absolute;
  width: 1em;
  height: calc(50% + 1em / 2);
  background-color: gold;
}

.squares div::before {
  top: -1em;
  left: -1em;
}

.squares div::after {
  bottom: -1em;
  right: -1em;
}
/* ---------------------------- */

.err {
  /* margin-top: 8em; */
  height: 24em;
  background-color: slategray;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.error {
  font-size: 50px;
  width: 5.6em;
  color: whitesmoke;
  font-family: sans-serif;
  position: relative;
  padding: 0.6em 0.4em;
  z-index: 1;
}

.error::before,
.error::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2em solid orange;
  box-sizing: border-box;
  transform: rotate(45deg);
  box-shadow: 0.3em 0.3em 0.3em hsla(0, 0%, 35%, 0.8);
}

figure.err p:nth-child(2)::before {
  border-style: solid solid none none;
}

figure.err p:nth-child(2)::after {
  border-style: none none solid solid;
}

figure.err p:nth-child(2)::before {
  z-index: -1;
}
/* ---------------------------- */

/* ---------------------------- */
.circle,
.circle::before,
.circle::after {
  width: 10em;
  height: 10em;
  box-sizing: border-box;
  border-top: 0.3em solid currentColor;
  border-radius: 50%;
  position: relative;
}

.circle::before,
.circle::after {
  content: '';
  position: absolute;
  top: -0.2em;
}

.circle {
  color: hotpink;
}
.circle::before {
  color: dodgerblue;
}
.circle::after {
  color: gold;
}

.circle:nth-child(1)::before {
  left: 20px;
}
.circle:nth-child(1)::after {
  right: 20px;
}

.circle:nth-child(2) {
  margin-left: 50px;
}

.circle:nth-child(2)::before {
  transform: rotate(120deg);
}
.circle:nth-child(2)::after {
  transform: rotate(240deg);
}
/* ---------------------------- */

/* ---------------------------- */
.heart {
  font-size: 10px;
  width: 12em;
  position: relative;
  display: flex;
}

.heart::before,
.heart::after {
  content: '';
  position: relative;
  width: 6em;
  height: 10em;
  border-radius: 3em 3em 0 0;
}

.heart::before {
  background-color: hsla(0, 79%, 72%, 0.8);
}
.heart::after {
  background-color: hsla(90, 79%, 72%, 0.8);
}

.heart::before {
  transform-origin: right bottom;
  transform: rotate(45deg);
}

.heart::after {
  transform-origin: left bottom;
  transform: rotate(-45deg);
}

.heart:nth-child(1)::before,
.heart:nth-child(1)::after {
  transform-origin: none;
  transform: none;
}

.heart:nth-child(3)::before,
.heart:nth-child(3)::after {
  background-color: hsla(0, 79%, 72%, 1);
}
/* ---------------------------- */

/* ---------------------------- */
.steamer-wrapper {
  background-color: pink;
  min-height: 120px;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steamer {
  font-size: 12px;
  width: 30em;
  height: 30em;
  background-color: white;
  border-radius: 50%;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lid {
  width: 17em;
  height: 6em;
  background-color: gold;
  border-radius: 6em 6em 0.2em 0.2em;
  border-right: 1.5em solid goldenrod;
  border-bottom: 1.2em solid goldenrod;
  position: relative;
  top: 0.5em;
}

.lid::before {
  position: absolute;
  content: '';
  width: 4em;
  height: 4em;
  background-color: tomato;
  border-radius: 50%;
  left: calc((17em + 1.5em - 4em) / 2);
  top: -2.5em;
}

.lid::after {
  content: '';
  position: absolute;
  width: 7em;
  height: 7em;
  border: 0.6em solid transparent;
  border-radius: 50%;
  border-left-color: white;
  left: 2.5em;
  top: 0.6em;
  transform: rotate(40deg);
}

.pot {
  width: 16em;
  height: 12em;
  background-color: darkslateblue;
  border-radius: 0.5em 0.5em 6.5em 6.5em;
  border-right: 1.5em solid midnightblue;
  position: relative;
}

.pot::before {
  content: '';
  position: absolute;
  width: 27em;
  height: 2.5em;
  background-color: tomato;
  z-index: -1;
  top: 2.5em;
  left: calc((16em + 1.5em - 27em) / 2);
  border-radius: calc(2.5em / 2);
}

.pot::after {
  content: '';
  position: absolute;
  width: 7em;
  height: 7em;
  border: 0.6em solid transparent;
  border-radius: 50%;
  border-bottom-color: white;
  left: 2em;
  top: 1em;
  transform: rotate(40deg);
}

/* ---------------------------- */

/* ---------------------------- */

.monster-wrapper {
  background-color: lightgoldenrodyellow;
  margin: 0;
  margin-top: 40px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.monster {
  font-size: 16px;
  width: 10em;
  height: 13em;
  color: lightgreen;
  background-color: currentColor;
  border-radius: 5em 5em 5% 5% / 6em 6em 5% 5%;
  position: relative;
}

.monster .eye {
  position: absolute;
  width: 6.5em;
  height: 6.5em;
  background-color: white;
  border-radius: 50% / 60% 60% 40% 40%;
  left: calc(50% - (6.5em) / 2);
  top: 2em;
  box-shadow: 0.2em 0.9em hsla(0, 0%, 0%, 0.1);
  background-image: radial-gradient(
      circle at 50% 25%,
      white 0.4em,
      transparent 0.4em
    ),
    radial-gradient(circle at 50% 40%, black 1.7em, transparent 1.7em);
}

.monster .mouth {
  position: absolute;
  width: 3em;
  height: 2.1em;
  background-color: black;
  bottom: 1em;
  left: calc(50% - (3em) / 2);
  border-radius: 50% 50% 3em 3em;
  overflow: hidden;
}

.mouth::before {
  content: '';
  position: absolute;
  width: inherit;
  height: 0.6em;
  background-color: tomato;
  bottom: 0;
  border-radius: 50%;
}

.mouth .teeth,
.mouth .teeth::before,
.mouth .teeth::after {
  position: absolute;
  border-top: 0.8em solid white;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  left: 1.1em;
}

.mouth .teeth::before,
.mouth .teeth::after {
  content: '';
}

.mouth .teeth::before {
  left: -1.1em;
  top: -0.8em;
}
.mouth .teeth::after {
  left: 0.3em;
  top: -0.8em;
}

.ear {
  position: absolute;
  width: 2.5em;
  height: 5em;
  top: -3.5em;
  transform-origin: bottom;
}

.ear::before {
  content: '';
  position: absolute;
  width: 1em;
  height: 80%;
  background-color: currentColor;
  left: calc(50% - 0.5em);
  bottom: 0;
}

.ear::after {
  content: '';
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: inset -0.3em -0.3em hsla(0, 0%, 0%, 0.1);
}

.ear.left {
  left: 1em;
  transform: rotate(-20deg);
}

.ear.right {
  right: 1em;
  transform: rotate(23deg);
}
